{% include "base.html.twig" %}
<div class="example-wrapper">
<duv class="container p-4">

<div class="text-center">
<h1>Teacher Info</h1>
{% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<a href="{{path('teachercreate')}}" class="btn btn-primary me-2">Add</a>  
<a class="btn btn-primary" href="{{path('teacherlist')}}">Get All List</a>
</div>
</div>
</div>
</div>