{% include "base.html.twig" %}


<div class="example-wrapper">
<duv class="container p-4">

<div class="text-center">
<h1>Student Info</h1>
<a href="{{path('taskadd')}}" class="btn btn-primary me-2">Add</a>  
<a class="btn btn-primary" href="{{path('tasklist')}}">Get All List</a>
</div>
</div>
</div>
</div>